<!DOCTYPE html>
<html lang="en" ng-app="wimbledon">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wimbledon</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap-3.3.5.min.css">

    <link rel="stylesheet" href="wimbledon.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bootstrap-theme-3.3.5.min.css">

    <script src="angular-1.4.5.js"></script>

    <script src="angular-ui-router.min.js"></script>

    <script src="wimbledon.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wimbledon</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="courts">Courts</a></li>
                <li><a ui-sref="draws">Draws</a></li>
                <li><a ui-sref="players">Players</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container content">

    <div ui-view></div>

</div>

<script type="text/ng-template" id="draws.html">

    <div clas="row">
        <h1>Draws</h1>
        <table class="table col-sm-8">
            <tr ng-repeat="draw in draws">
                <td class="col-sm-1">{{draw.id}}</td>
                <td><a ui-sref="draw({'id': draw.id})">{{draw.type}}</a></td>

            </tr>
        </table>
    </div>
</script>

<script type="text/ng-template" id="draw.html">
    <h1>{{draw.type}}</h1>

    <div class="row">
        <h2>Rounds</h2>
        <table class="table col-sm-6">
            <tr ng-repeat="round in draw.rounds">
                <td class="col-sm-2"><a ui-sref="round({'id':round.id})">{{round.name}}</a></td>
                <td>
                    <table class="table col-sm-6">
                        <tr ng-repeat="match in round.matches">
                            <td class="col-sm-2"><a ui-sref="match({'id':match.id})">{{match.info}}</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <h2>Available courts</h2>
        <table class="table col-sm-6">
            <tr ng-repeat="court in draw.availableCourts">
                <td class="col-sm-2">{{court.name}}</td>
            </tr>
        </table>

        <h2>Available umpires</h2>
        <table class="table col-sm-6">
            <tr ng-repeat="umpire in draw.availableUmpires">
                <td class="col-sm-2">{{umpire.name}}</td>
            </tr>
        </table>
    </div>

</script>

<script type="text/ng-template" id="players.html">

    <div clas="row">
        <h1>Players</h1>
        <table class="table col-sm-8">
            <tr ng-repeat="player in players">
                <td class="col-sm-1">{{player.id}}</td>
                <td><a ui-sref="player({'id': player.id})">{{player.name}}</a></td>

            </tr>
        </table>
    </div>
</script>

<script type="text/ng-template" id="round.html">
    <div clas="row">
        <h1>{{round.name}}</h1>
        <table class="table col-sm-6">
            <tr ng-repeat="match in round.matches">
                <td class="col-sm-2"><a ui-sref="match({'id':match.id})">{{match.info}}</a></td>
            </tr>
        </table>
    </div>
</script>


<script type="text/ng-template" id="player.html">
    <div clas="row">
        <h1>{{player.name}} <a ui-sref="player-edit({'id':player.id})" class="button button-warning">Edit</a></h1>

        <p>Gender: {{player.gender}}</p>
    </div>
</script>

<script type="text/ng-template" id="player-edit.html">
    <div clas="row">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Full name" ng-model="player.name">
            </div>
            <button type="save" class="btn btn-default" ng-click="save()">Save</button>
        </form>
    </div>
</script>

<script type="text/ng-template" id="match.html">
    <div clas="row">
        <h1>{{match.info}}</h1>

        <p>Status: {{match.status}}</p>

        <p>Result: {{match.score}}</p>

        <p>Umpire: {{match.umpire.name}}</p>

        <p>Court: {{match.court.name}}</p>


        <h2>Sets</h2>
        <table class="table">
            <tr ng-repeat="set in match.sets">
                <td>{{set.score1}}</td>
                <td>{{set.score2}}</td>
            </tr>
        </table>
        <h2>Send new set result</h2>

        <form>
            <p>Score1: <input type="text" ng-model="score1"></p>

            <p>Score2: <input type="text" ng-model="score2"></p>
            <button class="button" ng-click="sendResults()">save</button>
        </form>

    </div>
</script>


<script type="text/ng-template" id="courts.html">
    <h2>Courts</h2>

    <div clas="row">
        <table class="table col-sm-6">
            <tr ng-repeat="court in courts">
                <td class="col-sm-1">{{court.id}}</td>
                <td class="col-sm-2">{{court.name}}</td>

            </tr>
        </table>
    </div>
</script>


</body>
</html>